@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 100vw;
    min-height: 100vh;
}

nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dark .links a {
    color: #fff;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    font-weight: bold;
    padding: 1rem;
}

.links li a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.themebox {
    font-size: 40px;
    cursor: pointer;
}

main {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
}

.card {
    width: 280px;
    height: 700px;
    border-radius: 5px;
}

.card h2 {
    padding: 0.5rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card ul {
    margin-left: 1rem;
    margin-top: 2rem;
}

.card ul li {
    position: relative;
    list-style-type: none;
}

.card-light {
    background-color: #fff;
    color: #000;
    border: 2px solid black;
}

.card-dark {
    background-color: rgb(77, 77, 77);
    color: #fff;
    border: 2px solid rgb(224, 224, 224);
}

.tooltipContainer {
    position: relative;
}

.card-dark .tooltip {
    color: #000;
}

.tooltip {
    position: absolute;
    top: -2.5rem;
    left: 0;
    border: 1px solid black;
    background-color: lightgray;
    padding: 0.4rem;
    border-radius: 5px;
}

.light {
    background-color: #fff;
    color: #000;
}

.dark {
    background-color: rgb(34, 34, 34);
    color: #fff;
}
